<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <section class="container">
        {{>header}}
        <div class="main-container">
            <h1>Simple Weather</h1>
            Simple NODE.js project created by {{name}}
            <p>Just search for the location and you will get the weather details for it</p>
        </div>
        {{>footer}}
    </section>
</body>
</html>