<div class="header-container">
  <div class="header">
    <div class="header-name"><h1>Simple Weather</h1></div>
    <div class="header-date"></div>
  </div>
  <div class="menu-container">
    <a href="/">Home</a>
    <a href="/about">About</a>
  </div>
</div>